In [1]:
import pandas as pd

In [2]:
dcp = pd.read_csv("DCP CompuMed spreadsheet.csv")

In [3]:
dcp.head(5)

,Exam ID,Patient ID,"Patient Last, First",Age,DOB,Received Time,Study Time,Completed Time,Over Read,Physician<br />Last Name,Physician<br />First Name,Gender,Notes
0,389081,DCP001,"EV, EV",38,10/11/1980,09/07/18 09:31,08/18/18 02:19,09/07/18 16:27,Normal sinus rhythm\r\nWithin normal limits,Shiroff,Robert,F,NaN
1,389107,DCP002,"RF, RF",52,3/24/1966,09/07/18 09:31,08/18/18 15:43,09/07/18 17:24,Normal sinus rhythm\r\nSlow R wave V1-3\r\nMay...,Shiroff,Robert,M,NaN
2,389106,DCP002,"RF, RF",52,3/24/1966,09/07/18 09:31,08/18/18 10:42,09/07/18 17:00,Normal sinus rhythm\r\nSlow R wave progression...,Shiroff,Robert,M,NaN
3,389088,DCP003,"JE, JE",46,1/5/1972,09/07/18 09:31,08/18/18 10:46,09/07/18 16:49,Normal sinus rhythm\r\nBorderline low voltage ...,Shiroff,Robert,F,NaN
4,389109,DCP004,"RK, RK",36,12/2/1981,09/07/18 09:31,08/18/18 11:01,09/07/18 16:29,Normal sinus rhythm\r\nIntraventricular conduc...,Shiroff,Robert,F,NaN

In [4]:
dcp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 13 columns):
Exam ID                      29 non-null int64
Patient ID                   29 non-null object
Patient Last, First          29 non-null object
Age                          29 non-null int64
DOB                          29 non-null object
Received Time                29 non-null object
Study Time                   29 non-null object
Completed Time               29 non-null object
Over Read                    29 non-null object
Physician<br />Last Name     29 non-null object
Physician<br />First Name    29 non-null object
Gender                       29 non-null object
Notes                        0 non-null float64
dtypes: float64(1), int64(2), object(10)
memory usage: 3.0+ KB

## Need Modify Issues

1. Cloumn Names need to modify
    * Replace spaces with underscores
    * Remove special characters
    * Make all labels to lowercase
    * Shorten any long column names
2. Convert columns to numeric if need
3. Change data to DateTime if data is date
----
Continue Adding

In [5]:
dcp.columns

Index(['Exam ID', 'Patient ID', 'Patient Last, First', 'Age', 'DOB',
       'Received Time', 'Study Time', 'Completed Time', 'Over Read',
       'Physician<br />Last Name', 'Physician<br />First Name', 'Gender',
       'Notes'],
      dtype='object')

In [6]:
def clean_col(col):
    col = col.strip() # remove whitespaces
    col = col.replace(" ", "_") # replace spaces to _
    col = col.replace("<", "")
    col = col.replace("br","")
    col = col.replace("/","")
    col = col.replace(">","")
    col = col.replace(",","")
    col = col.lower() # lowercase all names
    return col

new_column = []
for x in dcp.columns:
    clean = clean_col(x)
    new_column.append(clean)
    
dcp.columns = new_column
dcp.columns

Index(['exam_id', 'patient_id', 'patient_last_first', 'age', 'dob',
       'received_time', 'study_time', 'completed_time', 'over_read',
       'physician_last_name', 'physician_first_name', 'gender', 'notes'],
      dtype='object')

In [7]:
dcp["patient_id"].unique()

array(['DCP001', 'DCP002', 'DCP003', 'DCP004', 'DCP005', 'DCP006',
       'DCP007', 'DCP008', 'DCP010', 'DCP011', 'DCP012', 'DCP013',
       'DCP014', 'DCP015', 'DCP016', 'DCP017', 'DCP018', 'DCP019',
       'DCP020', 'DCP021', 'DCP022', 'DCP023', 'DCP024', 'DCP025',
       'DCP026', 'DCP027', 'DCP029', 'DCP030'], dtype=object)

In [8]:
dcp["patient_id"] = dcp["patient_id"].str.replace("DCP", "")
dcp["patient_id"].unique()

array(['001', '002', '003', '004', '005', '006', '007', '008', '010',
       '011', '012', '013', '014', '015', '016', '017', '018', '019',
       '020', '021', '022', '023', '024', '025', '026', '027', '029',
       '030'], dtype=object)

In [9]:
dcp["patient_id"] = dcp["patient_id"].astype(int)
dcp.dtypes

exam_id                   int64
patient_id                int32
patient_last_first       object
age                       int64
dob                      object
received_time            object
study_time               object
completed_time           object
over_read                object
physician_last_name      object
physician_first_name     object
gender                   object
notes                   float64
dtype: object